<mat-drawer-container class="h-screen" autosize>
  <mat-drawer
    class="md:w-56 w-32"
    style="background: #2980b9; border: none"
    mode="side"
    [opened]="isSidenavOpen"
  >
    <div class="text-center text-white h-full">
      <mat-list
        ><a class="w-50 m-auto cursor-progress" routerLink="products">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Layer_1"
            data-name="Layer 1"
            viewBox="0 0 24 24"
            class="w-6 h-6 fill-white inline-flex"
          >
            <path
              d="M23.61,10.836l-1.718-3.592c-.218-.455-.742-.678-1.219-.517l-8.677,2.896L3.307,6.728c-.477-.159-1.001,.062-1.219,.518L.436,10.719c-.477,.792-.567,1.743-.247,2.609,.31,.84,.964,1.491,1.801,1.795l-.006,2.315c0,2.157,1.373,4.065,3.419,4.747l4.365,1.456c.714,.237,1.464,.356,2.214,.356s1.5-.119,2.214-.357l4.369-1.456c2.044-.682,3.418-2.586,3.419-4.738l.006-2.322c.846-.296,1.508-.945,1.819-1.788,.316-.858,.228-1.8-.198-2.5Zm-21.416,.83l1.318-2.763,7.065,2.354-1.62,3.256c-.242,.406-.729,.584-1.174,.436l-5.081-1.695c-.298-.099-.53-.324-.639-.618-.108-.293-.078-.616,.13-.97Zm3.842,8.623c-1.228-.41-2.053-1.555-2.052-2.848l.004-1.65,3.164,1.055c1.346,.446,2.793-.09,3.559-1.372l.277-.555-.004,6.979c-.197-.04-.391-.091-.582-.154l-4.365-1.455Zm11.896-.002l-4.369,1.456c-.19,.063-.384,.115-.58,.155l.004-6.995,.319,.64c.557,.928,1.532,1.46,2.562,1.46,.318,0,.643-.051,.96-.157l3.16-1.053-.004,1.651c0,1.292-.825,2.435-2.052,2.844Zm4-7.645c-.105,.285-.331,.504-.619,.601l-5.118,1.705c-.438,.147-.935-.036-1.136-.365l-1.654-3.322,7.064-2.357,1.382,2.88c.156,.261,.187,.574,.081,.859ZM5.214,5.896c-.391-.391-.391-1.023,0-1.414L9.111,.586c.779-.779,2.049-.779,2.828,0l1.596,1.596c.753-.385,1.738-.27,2.353,.345l2.255,2.255c.391,.391,.391,1.023,0,1.414s-1.023,.391-1.414,0l-2.255-2.255-3.151,3.151c-.195,.195-.451,.293-.707,.293s-.512-.098-.707-.293c-.391-.391-.391-1.023,0-1.414l2.147-2.147-1.53-1.53-3.897,3.896c-.195,.195-.451,.293-.707,.293s-.512-.098-.707-.293Z"
            />
          </svg>
          Productos
        </a>
      </mat-list>
      <mat-divider class="text-cyan-600"></mat-divider>
      <mat-list>
        <a class="w-50 m-auto cursor-progress" routerLink="services">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Layer_1"
            data-name="Layer 1"
            viewBox="0 0 24 24"
            class="w-6 h-6 fill-white inline-flex"
          >
            <path
              d="m1,2.5C1,1.119,2.119,0,3.5,0s2.5,1.119,2.5,2.5-1.119,2.5-2.5,2.5S1,3.881,1,2.5Zm22.226,16.744l-7.291,1.687c.043.183.066.373.066.569,0,1.598-1.499,2.845-3.167,2.414-.849-.22-1.541-.919-1.753-1.77-.362-1.452.544-2.768,1.842-3.076l-1.369-6.068h-2.935c-.758,0-1.45-.428-1.789-1.106l-1.369-2.739c-.117-.235-.274-.44-.459-.61v7.687l.546.329c.902.543,1.454,1.518,1.454,2.571v3.868c0,.553-.448,1-1,1s-1-.447-1-1v-3.869c0-.351-.184-.675-.484-.856l-2.764-1.664C.715,15.987.074,14.871.057,13.661l-.057-4.058c0-2.576,2.69-4.512,5.389-3.16.865.433,1.539,1.176,1.972,2.042l1.257,2.515h2.484l-1.078-4.78c-.122-.538.217-1.073.755-1.195.54-.122,1.074.217,1.196.756l3.004,13.318,7.795-1.804c.54-.126,1.075.211,1.2.749.125.538-.21,1.075-.749,1.2Zm-21.226-.244c-.552,0-1,.447-1,1v3c0,.553.448,1,1,1s1-.447,1-1v-3c0-.553-.448-1-1-1Zm13.067-7.251c-.316-1.351.523-2.709,1.872-3.028l2.775-.66c.658-.156,1.335-.047,1.909.309.574.354.975.912,1.129,1.568l.668,2.852c.316,1.351-.523,2.709-1.872,3.028l-2.775.66c-.195.047-.392.069-.587.069-.463,0-.918-.128-1.321-.378-.574-.354-.975-.912-1.129-1.569l-.668-2.851Z"
            />
          </svg>
          Servicios
        </a>
      </mat-list>
      <mat-divider class="text-cyan-600"></mat-divider>
      <mat-list>
        <a class="w-50 m-auto cursor-progress" routerLink="shoppingCart">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Outline"
            viewBox="0 0 24 24"
            class="w-6 h-6 fill-white inline-flex"
          >
            <path
              d="M22.713,4.077A2.993,2.993,0,0,0,20.41,3H4.242L4.2,2.649A3,3,0,0,0,1.222,0H1A1,1,0,0,0,1,2h.222a1,1,0,0,1,.993.883l1.376,11.7A5,5,0,0,0,8.557,19H19a1,1,0,0,0,0-2H8.557a3,3,0,0,1-2.82-2h11.92a5,5,0,0,0,4.921-4.113l.785-4.354A2.994,2.994,0,0,0,22.713,4.077ZM21.4,6.178l-.786,4.354A3,3,0,0,1,17.657,13H5.419L4.478,5H20.41A1,1,0,0,1,21.4,6.178Z"
            />
            <circle cx="7" cy="22" r="2" />
            <circle cx="17" cy="22" r="2" />
          </svg>
          Compras
        </a>
      </mat-list>
      <mat-divider class="text-cyan-600"></mat-divider>
    </div>
  </mat-drawer>

  <div>
    <app-header (sidenavToggle)="onSidenavToggle()"></app-header>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
