<div class="navbar bg-base-500">
  <div class="flex-1">
    <div class="tooltip tooltip-right" data-tip="Exlorar">
        <a type="button" mat-button (click)="onSidenav()" class="btn btn-ghost btn-sm btn-square cursor-help">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            viewBox="0 0 512 512"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
            class="w-5 h-5 fill-cyan-600"
          >
            <g>
              <path
                d="M480,224H32c-17.673,0-32,14.327-32,32s14.327,32,32,32h448c17.673,0,32-14.327,32-32S497.673,224,480,224z"
              />
              <path
                d="M32,138.667h448c17.673,0,32-14.327,32-32s-14.327-32-32-32H32c-17.673,0-32,14.327-32,32S14.327,138.667,32,138.667z"
              />
              <path
                d="M480,373.333H32c-17.673,0-32,14.327-32,32s14.327,32,32,32h448c17.673,0,32-14.327,32-32S497.673,373.333,480,373.333z"
              />
            </g>
          </svg>
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Inicio">
      <a routerLink="dashboard" class="ml-5 cursor-wait">
        <span class="text-2xl text-sky-300">E҉</span><span class="text-lg">m҉xs҉i҉s҉</span> 
      </a>
    </div>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div class="tooltip tooltip-left" data-tip="Tus Productos">
          <label tabindex="0" class="btn btn-xs cursor-progress" >
          <div class="indicator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7 fill-slate-300"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            <span class="badge badge-xs indicator-item badge-success">8</span>
          </div>
        </label>
      </div>
      <div
        tabindex="0"
        class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow"
      >
        <div class="card-body">
          <span class="font-bold text-lg">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
            <button class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-9 rounded-full">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSdfX8KOUWEGHqmYEX625RAql_k8JdAP1Rog&usqp=CAU"
          />
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
