<h1 mat-dialog-title>Añadir a carrito</h1>
<div mat-dialog-content>
  [nombre] se añadira a tu carrito con un costo de [costo]
  <p>Desea confirmar?</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="snackBar('No se añadio al carrito 🙃', 'cerrar')" >No</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="snackBar('El pedido se registro correctamente 🤗', 'cerrar')">Ok</button>
</div>