<div class="md:ml-3 md:mr-3">
  <div class="grid md:grid-cols-3 grid-cols-1 gap-3">
    <div
      *ngFor="let product of products"
      class="card w-full bg-base-100 shadow-lg shadow-cyan-900 rounded-md"
    >
      <figure>
        <img
          src="https://cdn.forbes.com.mx/2023/06/celulares-iphone-samsung.webp"
          alt="Shoes"
        />
      </figure>
      <div class="m-4">
        <div class="w-full h-12 overflow-y-auto">
          <p class="text-center font-medium text-lg text-blue-800">
            {{ product.name }}
          </p>
        </div>
        <div class="w-full h-20 overflow-y-auto cursor-s-resize select-all">
          <p class="lg:w-auto text-base text-blue-900">
            {{ product.description }}
          </p>
        </div>
        <div>
          <h4 class="lg:w-auto max-w-none h-auto text-sky-700">
            <span class="text-xl">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-5 w-5 fill-sky-600 inline-block"
              >
                <g id="_01_align_center" data-name="01 align center">
                  <path
                    d="M24,24H0V3A3,3,0,0,1,3,0H21a3,3,0,0,1,3,3ZM2,22H22V3a1,1,0,0,0-1-1H3A1,1,0,0,0,2,3Z"
                  />
                  <path
                    d="M9.333,17.919a1.985,1.985,0,0,1-1.414-.586L3.293,12.707l1.414-1.414,4.626,4.626,9.96-9.959,1.414,1.414-9.959,9.959A1.987,1.987,0,0,1,9.333,17.919Z"
                  />
                </g>
              </svg>
              {{ product.quantity }} </span
            >Disponibles
          </h4>
        </div>
        <div>
          <h3 class="lg:w-auto max-w-none h-auto text-end text-green-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              class="h-5 w-5 fill-green-700 inline-block"
            >
              <path
                d="M13.932,4A3.071,3.071,0,0,1,17,7.068a1,1,0,0,0,2,0V7c0-.019,0-.036,0-.055A5.073,5.073,0,0,0,13.932,2H13V1a1,1,0,0,0-2,0V2h-.932a5.068,5.068,0,0,0-1.6,9.875L11,12.72V20h-.932A3.071,3.071,0,0,1,7,16.932a1,1,0,0,0-2,0V17c0,.019,0,.036,0,.055A5.073,5.073,0,0,0,10.068,22H11v1a1,1,0,0,0,2,0V22h.932a5.068,5.068,0,0,0,1.6-9.875L13,11.28V4Zm.97,10.021A3.068,3.068,0,0,1,13.932,20H13V13.387ZM11,10.613,9.1,9.979A3.068,3.068,0,0,1,10.068,4H11Z"
              />
            </svg>
            Precio: {{ product.price }}
          </h3>
        </div>
        <div class="card-actions justify-center">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog('0ms', '0ms')"
            class="btn btn-xs btn-ghost xl:btn-wide text-white"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
